.header_warpper{
    width: 95%;
    height: 40px;
    border: 1px solid #ddd;
    margin: 10px auto;
    border-radius: 5px;
    line-height: 40px;
    position: relative;
}
.search_input{
    width: 98%;
    height: 38px;
    border: 0;
    outline: 0;
    position:absolute;
    left: 5px;
    bottom: 0px;
}